<div>
<%= render "form"%>
</div>
<p>
    all messages:
</p>

<% @posts.each do |post| %>
<div>
"<%= post.body%>"
<br>
<% if user_signed_in? %>
~ <em><%= post.user.username%><em>
<% else %>
~ <em>anonymous acolyte<em>
<% end %>
<% end %>


<%# 
<%=# turbo_frame_tag "posts" do %>
<%# <%= render @posts %>
<%# <% end %> 