<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Members Only" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
      
  <body>
      <%# FLASH MESSAGES %>
      <header>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </header>

      <p>Wizard Council Messages<br>
     enter the realm to reveal the wizard identities!<br></p>
      <% if user_signed_in? %>
      <p>
        acolyte <strong><%= current_user.username %> </strong> has enterd the wizard realm 
        <br>
        <%= link_to "edit acolyte", edit_user_registration_path%>
        </p>
        <%= button_to "exit realm", destroy_user_session_path, method: :delete, data: { turbo: false } %>

      <% else %>
      <p>
        the acolyte is not currently within the wizrding realm.
      </p>
      <%# <%=# link_to "enter realm", new_user_session_path %> 
      <% end %>
    

    <%= yield %>

  </body>
</html>
